.jumbotron{
	font-family: "Monoton";
	font-size: 40px;

}

#buttons {
	font-family: "Josefin Slab";

}

.btn:hover {
    background-color: green;
    color: white;
}


#add-topic {
	background-color: #e24923;
}


.gif {
display: inline-block;
margin: 10px;
padding: 20px;
background-color: black;
border: 20px;
 border-radius: 35px;
}

.body {
	background-color: #c1c9cb;
}